/* footer */
.footer{
    align-items: center;
    justify-content: space-between;
}

label{
    display:flex;
}
.footer {
  display: flex;
}

p {
  padding: 0;
  margin: 0;
}

.delete_all{
    height: 3rem;
    width: 10rem;
    background-color: orange;
    font-size:large;
    border-radius: 2rem;
}